<main>
	<div class="px-5 product-content my-1">
		<div class="py-3 my-3">
			<div class="row">
				<div class="col-sm-12 col-md-7 p-0">
					<form id="contact-form" class="form-sha px-3 py-3" method="post" action="contact.php" role="form">
						<div class="messages">
							<div class="controls">
								<h4 class="text-center colored-text">Compute Pricing</h4>
								<div class="row">
									<div class="col-sm-12 col-md-6">
										<div class="form-group py-3">
											<input id="form_name" type="email" name="email" class="form-control" placeholder="Email" required="required" data-error="name is required.">
										</div>
									</div>
									<div class="col-sm-12 col-md-6">
										<div class="form-group py-3">
											<input id="form_email" type="text" name="phoneNumber" class="form-control" placeholder="phoneNumber" required="required" data-error="Valid email is required.">
										</div>
									</div>

									<div class="col-sm-12 col-md-6">
										<div class="form-group py-3">
											<select id="form_name" type="text" name="title" class="form-control" placeholder="Title" required="required" data-error="name is required.">
												<option value="" disabled selected class="default-option">Select Payment Frequency</option>
												<option value="ANNUALLY">ANNUALLY</option>
												<option value="SINGLE PREMIUM">SINGLE PREMIUM</option>
												<option value="MONTHLY">MONTHLY</option>
												<option value="QUARTERLY">QUARTERLY</option>
												<option value="ANNUALLY">SEMI-ANNUALLY</option>
											</select>
										</div>
									</div>
									<div class="col-sm-12 col-md-6">
										<div class="form-group py-3">
											<select id="form_name" type="text" name="RemainingYears" class="form-control" required="required" data-error="name is required.">
												<option value="" disabled selected class="default-option">Select Child Remaining Years</option>
												<option value="1">1</option>
												<option value="2">2</option>
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
											</select>
										</div>
									</div>
									<div class="col-sm-12 col-md-12">
										<div class="form-group py-3">
											<select id="form_name" type="text" name="title" class="form-control" placeholder="Title" required="required" data-error="name is required.">
												<option value="" disabled selected class="default-option">Select Calculation Type:</option>
                                        		<option value="Premium">Premium (What you pay)</option>
                                        		<option value="Sum Assured">Sum Assured (The coverage amount)</option>
											</select>
											</div>
									</div>
									<div class="container">
										<div class="pull-left py-3">
											<span class="pull-left">
												<button type="submit" class="btn standard btn-icon-reveal pull-right text-white p-0" href="javascript:;" style="background: #600; position: relative;overflow: hidden" id="calculatePolicyButton">
													<i class="fa fa-calculator" aria-hidden="true"></i>
													<span style="color:white;" class="text">Calculate</span>
												</button>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
					</form>
				</div>
				<div class="col-sm-12 col-md-5">
					<div class="p-3 bg text-white">
						<div class="side-content-title">
							<h5>Dignity Plan</h5>
						</div>
						<div class="side-content-body font-size">
							<p>
								The Custodian Dignity plan is a joint life policy which pays the dignified lump sum (sum assured) 
								on first death. The policy is unitized.
							</p>
							<h6>FEATURES</h6>
							<ul class="mb-0">
								<li class="py-2">
									Annually renewable
								</li>
								<li class="py-2">
									The sum assured per unit is N400,000.00
								</li>
								<li class="py-2">
									Premium per unit is N6,000.00
								</li>
							</ul>
							<h6>Benefits</h6>
							<ul class="mb-0">
								<li class="py-2">
									The death benefit provides immediate financial succour for the surviving spouse
								</li>
								<li class="py-2">
									Used for family protection
								</li>
								<li class="py-2">
									Tax advantages
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>