 <section class="page-header b-bordered t-bordered hpadding">
    <div class="container">
        <div class="row">
        <div class="col-sm-12 d-flex m-0 justify-content-between">
            <h1 class="title">{{productName}}</h1>
            <nav class="c-breadcrumb-1 -style-icons pull-right nav-nav">
            <ol class="c-breadcrumb-1-inner">
                <li class="c-breadcrumb-1-item">
                <a href="https://custodianplc.com.ng" class="c-breadcrumb-1-link">
                    <i class="c-breadcrumb-1-icon fa fa-home" aria-hidden="true"></i>
                </a>
                </li>
                <li class="c-breadcrumb-1-item">
                <a href="#" class="c-breadcrumb-1-link">
                    <i class="c-breadcrumb-1-icon fa fa-file-text-o" aria-hidden="true"></i>
                    {{Category}}
                </a>
                </li>
                <li class="c-breadcrumb-1-item">
                <a href="#" class="c-breadcrumb-1-link">
                    <i class="c-breadcrumb-1-icon " aria-hidden="true"></i>
                    {{productName}}
                </a>
                </li>
            </ol>
            </nav>
        </div>
        </div>
    </div>
</section>