<nav class="navbar navbar-expand-lg container-fluid bg">
                <div class="container">
                  <a class="navbar-brand" href="#">
                    <img class="retina logo-image" src="../img/logo_white.png" data-logo="../img/logo_white.png" alt="custodian-logo">
                  </a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                      <li class="nav-item social-item  d-flex justify-content-center" style=" padding: 1rem;">
                        <a href="https://twitter.com/CustodianPLC" target="blank" class="tooltips" data-placement="top" data-rel="tooltip" data-original-title="Twitter" style=" color: white;">
                          <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="nav-item social-item  d-flex justify-content-center" style=" padding: 1rem;">
                        <a href="https://facebook.com/CustodianPLC/" target="blank" class="tooltips" data-placement="top" data-rel="tooltip" data-original-title="Facebook" style="color: white;">
                          <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="nav-item social-item  d-flex justify-content-center" style="padding: 1rem;">
                        <a href="https://www.instagram.com/custodianplc" target="blank" class="tooltips" data-placement="top" data-rel="tooltip" data-original-title="Instagram" style="color: white;">
                          <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>