/*Start of General Style*/
.bg{
    background-color: #900;
}

.colored-text{
    color: #900;
}

.font-size{
    font-size: 0.8rem;
}

.my-1{
    margin-top: 1.2rem; 
    margin-bottom: 1rem;
}

.form-control:focus{
    border-color: #600;
    box-shadow: none
}

::placeholder {
    color: red;
    opacity: 1; /* Firefox */
  }
  
  ::-ms-input-placeholder { /* Edge 12 -18 */
    color: red;
  }
/*End of General Style*/


/*Start of Nav Style*/

.logo-image{
    height: 50px;
}

/*End of Nav Style*/

/*Start of Breadcrumb Style*/
.page-header {
    padding: 25px 0px;
    margin: 0;
    background-image: url('../img/ff_rp_bkg2.png');
    background-repeat: repeat;
    background-position: center top;
    background-size: auto;
}

.t-bordered {
    border-top: 1px solid #e8e8e8;
}

.hpadding {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.page-header .title {
    font-size: 20px;
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
}

.pull-right {
     float: right !important;
}

.c-breadcrumb-6-inner, .c-breadcrumb-5-inner, .c-breadcrumb-4-inner, .c-breadcrumb-3-inner, .c-breadcrumb-2-inner, .c-breadcrumb-1-inner {
    padding-left: 0;
    margin-bottom: 0;
}

.c-breadcrumb-1-inner:before, .c-breadcrumb-1-inner:after {
    content: "";
    display: table;
}

.c-breadcrumb-1-item {
    float: left;
    margin-right: 14px;
    list-style: none;
}

.c-breadcrumb-1-link {
    position: relative;
    display: block;
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
    font-size: 14px;
    color: #111111;
    background-color: #eeeef0;
    text-decoration: none !important;
}

.c-breadcrumb-1-link::before {
    font-family: 'Font Awesome 5 Free';
    content: '\f15c'; /* Unicode for the file-text-o icon */
    margin-right: 5px; /* Adjust the spacing as needed */
    margin-left: 4px;
    margin-right: 4px;
  }

/* .c-breadcrumb-1-icon {
    margin-left: 4px;
    margin-right: 4px;
} */

.c-breadcrumb-1-link:before, .c-breadcrumb-1-link:after {
    position: absolute;
    top: 0;
    content: "";
    border-width: 16px 0 16px 10px;
    border-style: solid;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.c-breadcrumb-1-link:after {
    right: -10px;
    border-color: transparent transparent transparent #eeeef0;
}

.c-breadcrumb-1-inner:before, .c-breadcrumb-1-inner:after {
    content: "";
    display: table;
}

.c-breadcrumb-1-inner:after {
    clear: both;
}

.c-breadcrumb-1-link:before {
    left: -10px;
    border-color: #eeeef0 transparent #eeeef0 transparent;
}

.c-breadcrumb-1.-style-default .c-breadcrumb-1-item:last-child .c-breadcrumb-1-link:after, .c-breadcrumb-1.-style-icons .c-breadcrumb-1-item:last-child .c-breadcrumb-1-link:after {
    border-color: transparent transparent transparent #a50505;
}

.c-breadcrumb-1.-style-default .c-breadcrumb-1-item:last-child .c-breadcrumb-1-link:before, .c-breadcrumb-1.-style-icons .c-breadcrumb-1-item:last-child .c-breadcrumb-1-link:before {
    border-color: #a50505 transparent #a50505 transparent;
}

.c-breadcrumb-1.-style-default .c-breadcrumb-1-item:last-child .c-breadcrumb-1-link, .c-breadcrumb-1.-style-icons .c-breadcrumb-1-item:last-child .c-breadcrumb-1-link {
    color: #ffffff;
    background-color: #a50505;
}

.form-sha {
    -webkit-box-shadow: -1px 1px 43px 1px rgba(219,216,219,1);
    -moz-box-shadow: -1px 1px 43px 1px rgba(219,216,219,1);
    box-shadow: -1px 1px 43px 1px rgba(219,216,219,1);
}
/*End of Breadcrumb Style*/



.btn.btn-icon-reveal i {
padding: 15px 14px 10px;
background: rgba(0,0,0,0.1);
left: -48px;
font-size: 18px;
height: 100%;
line-height: 16px;
display: inline-block;
position: absolute
}

.btn.large.btn-icon-reveal i {
padding: 22px 17px 14px;
height: 56px;
font-size: 22px;
left: -57px
}

.btn.btn-icon-reveal span.text {
padding: 10px 35px;
display: block;
/* vertical-align: 4px; */
text-align: center
}

.btn.large.btn-icon-reveal span.text {
padding: 18px 50px
}

.btn.btn-icon-reveal i, .btn.btn-icon-reveal span.text {
-webkit-transition: all 200ms linear;
-moz-transition: all 200ms ease;
-o-transition: all 200ms ease;
transition: all 200ms linear
}

.btn.btn-icon-reveal:hover i {
left: 0
}

.btn.btn-icon-reveal:hover span.text {
padding-left: 59px;
padding-right: 11px
}

.btn.btn-icon-reveal.large:hover span.text {
padding-left: 77px;
padding-right: 23px
}

/*Start of Side Content Styles*/
.accordion {
    cursor: pointer;
    width: 100%;
    text-align: left;
    outline: none;
    transition: 0.4s;
    border-bottom: 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
}

.accordion:before, .nav-dropdown-toggle::before {
    content: "\f078";
    font-size: 0.7em;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-left: 0.5em;
    color: #fff;
    float: right;
    margin-left: 5px;
}

.dropdown-toggle::before {
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-left: 0.5em;
    color: #fff;
    float: right;
    margin-left: 5px;
    border-top: none;
    border:none;
}

.chevron-active:before {
     content: "\f077"; /* Unicode for chevron-up */
}

.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.panel p{
     padding-top: 20px;
     padding-bottom: 20px;
}


select::placeholder, 
option,  
form input, 
form select, 
select option:default,  
.default-option{
    color: #999; /* Adjust the color as needed */
}

form input, form select{
    border: 1px solid lightgray;
    border-radius: 5px;
}

@media(max-width:570px) {
    .page-header{
        display: none !important;
    }
}

.relative-position {
    position: relative;
}

.fa-caret-down {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    pointer-events: none;
}

 /*End of Side Content Styles*/